:root{
    --font-text: 'Pirata One', cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: var(--font-text);
    background: #000 url(../img/fundo.png) no-repeat center fixed;
    background-size: 130vw 128vh ;
    overflow: hidden;
}
.container{
    width: 1360px;
    margin: auto;
    height: 900px;
}
header{
    position: fixed;
    width: auto;
    height: 23rem;
}
header .logo{
    position: fixed;
    top: 30%;
    width: auto;
    height: 23rem;
    padding-left: 52rem;
}
header .logo img{
    width: 16rem;
    height: 8rem;
    transform: rotate(353deg);
}
main .container{
    position: fixed;
    top: 50%;
    left: 25%;
}
main .container_main{
    position: fixed;
    top: 50%;
    left: 23%;
}
main .questions_text{
    position: fixed;
    top: 52%;
    left: 13%;
    text-align: justify;
    width: 60rem;
}
main .buttons{
    position: fixed;
    top: 68%;
    left: 11%;
}
main .buttons button,
main .cont_text button{
    width: 15rem;
    height: 5rem;
    margin: 3rem;
    background-color: #491313;
    border: 1px solid #491313;
    border-radius: 20px;
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--font-text);
    color: #f8b931;
}
main .cont_text{
    display: flex;
}
main .cont_text h1{
    width: 60%;
    text-align: justify;
    margin-top: 2rem;
    margin-right: 0;
}
main .cont_text img{
    width: 22%;
    height: 22%;
    margin-top: 2rem;
}
main .erro{
    position: fixed;
    left: 24%;
}
main .erro h1{
    text-align: center;
    width: 100%;
    font-size: 4rem;
}
main .erro button{
    position: fixed;
    left: 37%;
}
main .questions{
    padding-top: 2rem ;
}
main .questions input{
    width: 2rem;
    height: 2rem;
    background-color: white;
}
main .questions input[type="checkbox"] {
    accent-color: green;
}
main .questions label{
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}